navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 29px;
    background-color: black;
}

.logo{
    color: rgb(6, 22, 36);
    width: 10px;
    height: 10px;
    display: -ms-flexbox;
}
.navbar{
    position: absolute;
    left: 100%;
    width:67px;
     height: 29px;
    top:19px;
    display: flex;
    flex-direction: row;
    
}
.header .gallery{
    display: grid;
    padding: 100%;
}
.footer{
    display: flex;
    margin: 20vh;
    padding: 10px;
    background-color: blue;
}